

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template/layout/base :: common_header(~{::title},~{::link})">

    <title>메인 타이틀</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">

</head>
<body>
메인 컨텐츠
</body>
</html>

<!--
    결과를보자.
    메인 타이틀이 전달한 부분으로 교체되었다.
    공통부분은 그대로 유지되고, 추가부분에 전달한<link>들이 포함된것을 확인 할 수있다.
    이 방식은 사실 앞서 배운 코드조각을 조금 더 적극적으로 사용하는 방식이다. 쉽게 이야기 해서 레이아웃 개념을 두고,
    그레이아웃에 필요한 코드조각을 전달해서 완성하는것으로 이해하면된다.

    layoutExtendMain.html는현재페이지인데, <html> 자체를 th:replace를 사용해서 변경하는것을 확인할 수 있다.
    결국 layoutFile.html에 필요한 내용을 전달하면서<html> 자체를
    layoutFile.html로 변경한다
-->