<!-- 변수 - SpringEL  -->
<!-- 타임리프에서 변수를 사용할 떄는 변수 표현식을 사용한다.-->
<!-- 변수 표현식 : ${...}-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"> <title>Title</title>
</head>

<body>
<h1>SpringEL 표현식</h1>

<ul>Object
    /resources/templates/basic/variable.html
    list.add(userB);
    Map<String, User> map = new HashMap<>();     map.put("userA", userA);
    map.put("userB", userB);
    model.addAttribute("user", userA);
    model.addAttribute("users", list);
    model.addAttribute("userMap", map); return "basic/variable";
    }
    @Data
    static class User {
    private String username; private int age;
    public User(String username, int age) { this.username = username;
    this.age = age; }
    }
    <li>${user.username} =    <span th:text="${user.username}"></span></li>
    <li>${user['username']} = <span th:text="${user['username']}"></span></li>
    <li>${user.getUsername()} = <span th:text="${user.getUsername()}"></span></li>
</ul>

<ul>List
    <li>${users[0].username}    = <span th:text="${users[0].username}"></ span></li>
    <li>${users[0]['username']} = <span th:text="${users[0]['username']}"></ span></li>
    <li>${users[0].getUsername()} = <span th:text="$ {users[0].getUsername()}"></span></li>
</ul>

<ul>Map
    <li>${userMap['userA'].username} =  <span th:text="$ {userMap['userA'].username}"></span></li>
    <li>${userMap['userA']['username']} = <span th:text="${userMap['userA'] ['username']}"></span></li>
    <li>${userMap['userA'].getUsername()} = <span th:text="$ {userMap['userA'].getUsername()}"></span></li>
</ul>

</body>
</html>